<!DOCTYPE html>
<html>
<head>
	<title>Weather App</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.2/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>
<body>

	<div class="ui fixed inverted menu">
		<div class="ui container">
			<div class="header item"> <i class="cloud icon" > </i> Weather App </div>
			<a href="/" class="item"> Home </a>
		</div>
	</div>
