<% include partials/header %>

	<script>

	window.onload = function () {

		var chart = new CanvasJS.Chart("chartContainer", {
			animationEnabled: true,
			exportEnabled: true,
			title:{
				text: "5 day Temparature variation in <%= name %>"
			},
			axisY: {
				includeZero:false,
				title: "Temperature (°C)",
				suffix: " °C"
			},
			axisX: {
				valueFormatString: "DD MMMM"
			},
			data: [
				{
					type: "rangeArea",
					xValueFormatString: "DD MMMM",
					yValueFormatString: "#0.## °C",
					toolTipContent: " <span style=\"color:#4F81BC\">{x}</span><br><b>Min:</b> {y[0]}<br><b>Max:</b> {y[1]}",
					dataPoints: [
						{ x: new Date(<%= list[0].dt_txt.substring(0,4) %>,<%= list[0].dt_txt.substring(5,7) %>-1,<%= list[0].dt_txt.substring(8,10) %>),
							y:[<%= list[0].main.temp_min %>, <%= list[0].main.temp_max %>] },
						{ x: new Date(<%= list[1].dt_txt.substring(0,4) %>,<%= list[1].dt_txt.substring(5,7) %>-1,<%= list[1].dt_txt.substring(8,10) %>),
							y:[<%= list[1].main.temp_min %>, <%= list[1].main.temp_max %>] },
						{ x: new Date(<%= list[2].dt_txt.substring(0,4) %>,<%= list[2].dt_txt.substring(5,7) %>-1,<%= list[2].dt_txt.substring(8,10) %>),
							y:[<%= list[2].main.temp_min %>, <%= list[2].main.temp_max %>] },
						{ x: new Date(<%= list[3].dt_txt.substring(0,4) %>,<%= list[3].dt_txt.substring(5,7) %>-1,<%= list[3].dt_txt.substring(8,10) %>),
						  y:[<%= list[3].main.temp_min %>, <%= list[3].main.temp_max %>] },
						{ x: new Date(<%= list[4].dt_txt.substring(0,4) %>,<%= list[4].dt_txt.substring(5,7) %>-1,<%= list[4].dt_txt.substring(8,10) %>),
						  y:[<%= list[3].main.temp_min %>, <%= list[3].main.temp_max %>] },
					]
				}]
			});
			chart.render();

		}
		document.querySelector("div.header.item>i").outerHTML="<span> <img src='http://openweathermap.org/images/flags/<%= name.split(', ')[1].toLowerCase() %>.png' class='flag' style='width:90%; margin-right:10px'> </span>"

	</script>

<div id="chartContainer"></div>

<div class="extra">
	<div tabindex="0" >
		<a class="ui animated teal button" href="/weather">
			<div class="visible content">View Forecast</div>
			<div class="hidden content">
				<i class="hand point left outline icon"></i>
			</div>
			</a>
	</div>
</div>

<script src="/canvasjs.min.js"></script>
<!-- <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script> -->

<% include partials/footer %>
