<% include partials/header %>

<script type="text/javascript">
	document.querySelector("div.header.item>i").outerHTML="<span> <img src='http://openweathermap.org/images/flags/<%= name.split(', ')[1].toLowerCase() %>.png' class='flag' style='width:90%; margin-right:10px'> </span>"
</script>

<div class="ui main text container">
	<div class="ui huge header">
		5 Day Forecast for <%= name %>
		<span></span>
	</div>
	<div class="ui top attached segment">
		<div class="ui divided items">
			<% list.forEach(function(list){ %>
			<div class="item">
				<div class="image">
					<img src="http://openweathermap.org/img/w/<%= list.weather[0].icon %>.png">
				</div>
				<div class="content">
					<h3>
						<%= list.dt_txt.split(" ")[0] %> <span class="ctemp"><%= list.main.temp %> °C </span>
					</h3>
					<div class="meta">
						<h3> <%- list.weather[0].main %> (<%- list.weather[0].description  %>) </h3>
					</div>
					<div class="description">
						<p>
							<span> Min.: <strong> <%- list.main.temp_min%>°C </strong> </span>
							<span> Max.: <strong> <%- list.main.temp_max%>°C </strong> </span>
							<span> Humidity: <strong> <%- list.main.humidity%>% </strong> </span>
						</p>
					</div>

				</div>
			</div>
			<% }); %>
		</div>
	</div>
	<div class="extra">
		<div tabindex="0" >
			<a class="ui animated teal button" href="/graph">
				<div class="visible content">View Graph</div>
				<div class="hidden content">
					<i class="chart line icon"></i>
				</div>
			</a>
		</div>
	</div>
</div>

<% include partials/footer %>
