<% include partials/header %>

<div class="ui main text container segment">
	<div class="ui huge header"> Weather by City </div>

	<form class="ui form" action="/search" method="POST">
		<div class="field">
			<input type="text" name="city" placeholder="Enter name of city, eg. 'new york'"/>
		<input class="ui inverted green large button" type="submit" name="Submit" />
  </div>
	</form>
</div>

<div class="ui main text container segment">
	<div class="ui huge header"> <%= weather.city.name %>, <%= weather.city.country %>
		<span> <img src="http://openweathermap.org/images/flags/<%= weather.city.country.toLowerCase() %>.png" class="flag"> </span>
    <span class="ctemp"> <%= weather.list[0].main.temp %> °C </span>
  </div>

  <h3> <%= weather.list[0].dt_txt %> </h3>

  <h2 class="weatherdesc"> <img src="http://openweathermap.org/img/w/<%= weather.list[0].weather[0].icon %>.png">
     <%= weather.list[0].weather[0].main %> (<%= weather.list[0].weather[0].description%>)
  </h2>

  <div class="container">
		<div class="line">
			<span class="weather left"> Minimum: <strong><%= weather.list[0].main.temp_min %> °C </strong></span>
			<span class="weather right"> Maximum: <strong><%= weather.list[0].main.temp_max %> °C </strong></span>
		</div>
		<div class="line">
			<span class="weather left"> Pressure: <strong><%= weather.list[0].main.pressure %> hPa</strong></span>
			<span class="weather right"> Humidity: <strong><%= weather.list[0].main.humidity %> %</strong>
						&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </span>
		</div>
  </div>

  <div class="extra">
    <div tabindex="0" >
      <a class="ui animated teal button" href="/weather">
        <div class="visible content">5 Day Forecast</div>
        <div class="hidden content">
          <i class="bolt icon"></i>
          <i class="cloud icon"></i>
          <i class="tint icon"></i>
        </div>
        </a>
    </div>
  </div>

</div>

<% include partials/footer %>
