.body{
	background: #dc7272;
}

.container.main{
	margin: 7em;
}

.ui.top.segment{
	border-radius: 20px;
}

.ui.button{
	margin-top: 5%;
	margin-left: 40%;
}

.ui.items>.item>.image>img{
	margin: auto;
	width: 50%;
}

.ui.two.buttons{
	width: 50%;
	margin-left: 25%;
}

.ui.fixed.menu{
	height: 10%;
}

.ui.huge.header{
	margin-top: 10px;
}

i.th.list{
	font-size: 2em;
}

.ctemp{
	margin-left: 40%;
	padding: 10px;
	background-color: #8ae4ad;
	border-radius: 10%;
	float: right;
}

.weather{
	font-size: 20px;
}

.description>p>span{
	margin-left: 10%;
}

.flag{
	width: 5%;
}

.line{
	margin-top: 3%;
}

.line>.left{
	margin-left: 10%;
}

.line>.right{
	margin-right: 10%;
	float: right;
}

.content>h3{
	width: 95%;
}

.weatherdesc{
	text-align: center;
}

#chartContainer{
	height: 300px;
	width: 80%;
	margin: 10% auto;
}
